In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\rdkir\anaconda3\lib\site-packages (0.17.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (3.0.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (1.16.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (0.20.3)
Requirement already satisfied: setuptools in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (47.3.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\rdkir\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\rdkir\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\rdkir\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: cycler>=0.10 in c:\users\rdkir\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rdkir\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\rdkir\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.3.1)
Requirement already satisfied: six>=1.5 in c:\users\rdkir\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.24.2->mlxtend) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

### Importing the required libraries

In [2]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

### Loading and exploring the data

In [5]:
cd C:\Users\rdkir\Downloads

C:\Users\rdkir\Downloads

In [6]:
data = pd.read_excel('Online Retail.xlsx') 
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### Exploring the different regions of transactions

In [6]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### Cleaning the Data

In [7]:
# Stripping extra spaces in the description
data['Description'] = data['Description'].str.strip()

In [8]:
# Dropping the rows without any invoice number
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True) 
data['InvoiceNo'] = data['InvoiceNo'].astype('str')

In [9]:
# Dropping all transactions which were done on credit 
data = data[~data['InvoiceNo'].str.contains('C')]

### Splitting the data according to France transaction

In [10]:
# Transactions done in France
basket_France = (data[data['Country'] =="France"] 
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('InvoiceNo'))

### Hot encoding the Data

In [11]:
# Defining the hot encoding function to make the data suitable for the concerned libraries
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1

In [12]:
basket_encoded = basket_France.applymap(hot_encode) 
basket_France = basket_encoded

### Buliding the models and analyzing the results

In [13]:
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True) 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

                                           antecedents  \
45                        (JUMBO BAG WOODLAND ANIMALS)
258  (PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...
270  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...
300  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
301  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...

                         consequents  antecedent support  consequent support  \
45                         (POSTAGE)            0.076531            0.765306
258                        (POSTAGE)            0.051020            0.765306
270                        (POSTAGE)            0.053571            0.765306
300  (SET/6 RED SPOTTY PAPER PLATES)            0.102041            0.127551
301    (SET/6 RED SPOTTY PAPER CUPS)            0.102041            0.137755

      support  confidence      lift  leverage  conviction
45   0.076531       1.000  1.306667  0.017961         inf
258  0.051020       1.000  1.306667  0.011974         inf
270  0.053571       1.000  1.306667  0.012573         inf
300  0.099490       0.975  7.644000  0.086474   34.897959
301  0.099490       0.975  7.077778  0.085433   34.489796

### For germany:

In [14]:
basket2 = (data[data['Country'] =="Germany"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_sets2 = basket2.applymap(hot_encode)
basket_sets2.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets2 = apriori(basket_sets2, min_support=0.05, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)
print(rules.head()) 
rules2[ (rules2['lift'] >= 4) &
        (rules2['confidence'] >= 0.5)]

                                           antecedents  \
45                        (JUMBO BAG WOODLAND ANIMALS)
258  (PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...
270  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...
300  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
301  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...

                         consequents  antecedent support  consequent support  \
45                         (POSTAGE)            0.076531            0.765306
258                        (POSTAGE)            0.051020            0.765306
270                        (POSTAGE)            0.053571            0.765306
300  (SET/6 RED SPOTTY PAPER PLATES)            0.102041            0.127551
301    (SET/6 RED SPOTTY PAPER CUPS)            0.102041            0.137755

      support  confidence      lift  leverage  conviction
45   0.076531       1.000  1.306667  0.017961         inf
258  0.051020       1.000  1.306667  0.011974         inf
270  0.053571       1.000  1.306667  0.012573         inf
300  0.099490       0.975  7.644000  0.086474   34.897959
301  0.099490       0.975  7.077778  0.085433   34.489796

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN WOODLAND ANIMALS),0.115974,0.137856,0.067834,0.584906,4.242887,0.051846,2.076984
6,(PLASTERS IN TIN SPACEBOY),(PLASTERS IN TIN WOODLAND ANIMALS),0.107221,0.137856,0.061269,0.571429,4.145125,0.046488,2.011670
11,(RED RETROSPOT CHARLOTTE BAG),(WOODLAND CHARLOTTE BAG),0.070022,0.126915,0.059081,0.843750,6.648168,0.050194,5.587746